{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": true, "peerDependencies": true}],
    "class-methods-use-this": ["off"],
    "jsx-a11y/href-no-hash": ["off"],
    "camelcase": ["off"]
  }
}
